
@{
    ViewBag.Title = "BuzzIn";
}

<br/>

<div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
        <input id="name" type="text" name="name" class="form-control" placeholder="Enter your name" />
        <br />
        <button id="buzzIn" class="btn btn-primary btn-lg">Buzz In!</button>
    </div>
</div>

@section Scripts {
    <script>
        $("#buzzIn").click(function () {
            var name = $("#name").val();
            $.ajax({
                url: "/BuzzIn/Click",
                type: "POST",
                dataType: "json",
                data: { name: name },
                success: function (data) {
                }
            }
            );
        });
    </script>
}
